version: "3.8"

x-airflow-common: &airflow-common
  image: apache/airflow:2.9.2
  env_file:
    - .env
  environment:
    # Configuración básica de Airflow
    AIRFLOW__CORE__EXECUTOR: LocalExecutor
    AIRFLOW__CORE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    AIRFLOW__CORE__FERNET_KEY: NXzk0X-pUpCPXIf-RHvLeti70QwRpPIGhqMvIdwYYos=
    AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    AIRFLOW__WEBSERVER__RBAC: "True"

    # Para que Airflow vea tu proyecto Kedro
    PYTHONPATH: /opt/airflow/src/proyect-machine

  volumes:
    # DAGs: aquí debe estar tu archivo run_kedro_pipelines.py
    - ./dags:/opt/airflow/dags

    # Logs y plugins de Airflow (carpetas locales dentro del proyecto)
    - ./logs:/opt/airflow/logs
    - ./plugins:/opt/airflow/plugins

    # Proyecto Kedro completo montado dentro del contenedor
    - .:/opt/airflow/src/proyect-machine

  user: "${AIRFLOW_UID:-50000}:0"

services:
  postgres:
    image: postgres:13
    container_name: proyect-machine-postgres
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      retries: 5
      timeout: 5s

  airflow-init:
    <<: *airflow-common
    container_name: proyect-machine-airflow-init
    depends_on:
      - postgres
    entrypoint: /bin/bash
    command: >
      -c "
      pip install --no-cache-dir -r /opt/airflow/src/proyect-machine/requirements.txt dvc[s3] &&
      airflow db init &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com
      "
    restart: on-failure

  airflow-scheduler:
    <<: *airflow-common
    container_name: proyect-machine-airflow-scheduler
    depends_on:
      - postgres
      - airflow-init
    command: >
      bash -c "
      pip install --no-cache-dir -r /opt/airflow/src/proyect-machine/requirements.txt dvc[s3] &&
      airflow scheduler
      "
    restart: always

  airflow-webserver:
    <<: *airflow-common
    container_name: proyect-machine-airflow-webserver
    depends_on:
      - postgres
      - airflow-init
    ports:
      - "8080:8080"
    command: >
      bash -c "
      pip install --no-cache-dir -r /opt/airflow/src/proyect-machine/requirements.txt dvc[s3] &&
      airflow webserver
      "
    restart: always

volumes:
  postgres_data:
