version: '3.8'

x-airflow-common: &airflow-common
  image: apache/airflow:2.9.2
  env_file:
    - .env
  environment:
    - AIRFLOW__CORE__EXECUTOR=LocalExecutor
    - AIRFLOW__CORE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:airflow@postgres:5432/airflow
    - AIRFLOW__CORE__FERNET_KEY=fernet_key_aqui
    - AIRFLOW__WEBSERVER__RBAC=True
    - PYTHONPATH=/opt/airflow/src/proyect-machine
  volumes:
    - C:/airflow_data/dags:/opt/airflow/dags
    - C:/airflow_data/logs:/opt/airflow/logs
    - C:/airflow_data/plugins:/opt/airflow/plugins
    - C:/Users/sever/OneDrive/Desktop/ML/Eva_2.machine_learning/proyect-machine:/opt/airflow/src/proyect-machine
  user: "${AIRFLOW_UID:-50000}:0"

services:
  postgres:
    image: postgres:13
    container_name: proyect-machine-postgres
    environment:
      - POSTGRES_USER=airflow
      - POSTGRES_PASSWORD=airflow
      - POSTGRES_DB=airflow
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 5s
      retries: 5

  airflow-init:
    <<: *airflow-common
    container_name: proyect-machine-airflow-init
    depends_on:
      - postgres
    command: >
      bash -c "
      pip install kedro==1.0.0 kedro-datasets scikit-learn pandas numpy &&
      airflow db init &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com
      "
    restart: on-failure


  airflow-scheduler:
    <<: *airflow-common
    container_name: proyect-machine-airflow-scheduler
    depends_on:
      - postgres
      - airflow-init
    command: >
      bash -c "
      pip install kedro==1.0.0 kedro-datasets scikit-learn pandas numpy &&
      airflow scheduler
      "
    restart: always

  airflow-webserver:
    <<: *airflow-common
    container_name: proyect-machine-airflow-webserver
    depends_on:
      - postgres
      - airflow-init
    ports:
      - "8080:8080"
    command: >
      bash -c "
      pip install kedro==1.0.0 kedro-datasets scikit-learn pandas numpy &&
      airflow webserver
      "
    restart: always

volumes:
  postgres_data:
